html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#btn-custom {
  border: 2px solid #724b4b !important;
}

.contoh-1 {
  background-color: red;
}

#contoh-1 {
  background-color: blue;
}

.box {
  height: 100vh;
}

.firstPage {
  background-color: aquamarine;
}

.navbar {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.mainNavigation {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.register {
  display: flex;
}

.box-1 {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  background-color: bisque;
}

.leftBox {
  background-color: darkcyan;
  height: 30%;
  width: 30%;
}

.rightBox {
  background-color: brown;
  height: 30%;
  width: 60%;
}

.signUp {
  display: flex;
}

.playTheGame {
  margin-top: 400px;
  background-color: olivedrab;
  font-size: 2rem;
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 15px;
  }
  .firstPage {
    background-color: blue;
  }

  .mainNavigation,
  .signUp {
    display: none !important;
  }

  .box-1 {
    flex-direction: column;
  }

  .playTheGame {
    margin-top: 10% !important;
  }
}

@media (max-width: 300px) {
  .box-1 {
    display: none !important;
  }
}
